<div>
    <ng-form id="csp-form" name="main.cspForm"
             novalidate="novalidate">
        <div>
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <!--  <button title="{{'ENROL_INSTRUCT'|translate}}" class="btn-xs rep-help-button"
                                  id="enrol-instructions-toggle" ng-click="main.addInstruct(1)"><span
                                  class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{'ENROL_INSTRUCT'|translate}}"</span>
                          </button>-->
                    </div>
                    <h2 class="panel-title">{{'1. Applicant Information'|translate}}</h2>
                </header>
                <div class="panel-body">
                    <cmp-csp-applicant record="main.cspModel.applicant"></cmp-csp-applicant>
                </div>
            </section>
        </div>
    </ng-form>
</div>