<div class="container-fluid">
    <ng-form name="addressForm" >
        <fieldset>
            <legend>Company Details</legend>
            <div class="form-group">
                <label class="form-checkbox" for="chk-amend-rec_{{$id}}">
                    <input id="chk-amend-rec_{{$id}}" type="checkbox" ng-model="adr.addressModel.amendRecord" ng-blur="adr.updateAddressModel()"/>
                    {{'AMEND_RECORD'|translate}}</label>
                <div >
                <cmp-address-role record="adr.addressModel.addressRole" form-name="addressForm" on-update="adr.onAddressRoleUpdate($event.roles)"></cmp-address-role>
            </div>
            <div class="form-group" ng-class="{'has-error':addressForm.companyName.$invalid}" style="float:initial;margin-right:20px;">
                <label for="companyName_{{$id}}" class="required">
                    <span class="field-name">{{"COMPANYNAME_FULL" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <strong id="companyName-error" class="error" ng-if="addressForm.companyName.$invalid" >
                        <span class="label label-danger" ng-messages="addressForm.companyName.$error">
                          <!--  <div ng-message="max"><span translate="FORM.MAXVALUE"></span></div>-->
                            <span ng-message="required"><span translate="MSG_ERR_MAND"></span></span>
                        </span>
                    </strong>
                </label>
                <input type="text" id="companyName_{{$id}}" name="companyName" ng-model="adr.addressModel.companyName"
                       class="form-control full-width" maxlength="80" size="60" required/>
            </div>
            <div class="form-group" ng-class="{'has-error':addressForm.street.$invalid}">
                <label for="street_{{$id}}" class="required">
                    <span class="field-name">{{"STREET" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}}</strong>
                    <strong id="street-error" class="error" ng-if="addressForm.street.$invalid">
                        <span class="label label-danger" ng-messages="addressForm.street.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                    </strong>
                </label>
                <input type="text" class="form-control full-width" id="street_{{$id}}" name="street"
                       data-ng-model="adr.addressModel.street"  ng-blur="adr.updateAddressModel()" required/>
            </div>
            <div class="row">
                <div class="form-group col-md-6" ng-class="{'has-error':addressForm.city.$invalid}">
                    <label for="city_{{$id}}" class="required">
                        <span class="field-name">{{"CITY_TOWN" |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <strong id="city-error" class="error" ng-if="addressForm.city.$invalid">
                        <span class="label label-danger" ng-messages="addressForm.city.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
                        </strong>
                    </label>
                    <input type="text" id="city_{{$id}}" name="city" data-ng-model="adr.addressModel.city"
                           class="form-control  full-width" ng-blur="adr.updateAddressModel()" maxlength="60" required/>
                </div>
                <div class="col-md-6">
                    <cmp-country-select form-name="addressForm" selected-country="adr.addressModel.country" countries="adr.countries"
                                        country-change="adr.onSelectedCountryChange($event.country)"></cmp-country-select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-if="adr.hideProvinceText">
                        <label for="provinceList_{{$id}}" class="required">
                            <span class="field-name">{{adr.provListLabel |translate}}</span>
                            <strong class="required"> {{"REQUIRED" |translate}} </strong>
                            <strong id="provinceList-error" class="error" ng-if="addressForm.provinceList.$invalid">
                        <span class="label label-danger" ng-messages="addressForm.provinceList.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}} </span>
                        </span>
                            </strong>
                        </label>
                        <select class="form-control full-width" data-ng-model="adr.addressModel.provState"
                                id="provinceList_{{$id}}" name="provinceList"  ng-blur=" adr.updateAddressModel()"
                                data-ng-options="province |translate for province in adr.provinces"></select>
                    </div>
                    <div class="form-group " ng-if="adr.hideProvinceDdl">
                        <label for="stateText_{{$id}}">{{"PROVSTATE" |translate}}</label>
                        <input type="text" id="stateText_{{$id}}" name="provinceText"
                               data-ng-model="adr.addressModel.stateText" class="form-control full-width" maxlength="40"
                               size="40" ng-blur=" adr.updateAddressModel()"  ng-blur="adr.updateAddressModel()"/>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="postal_{{$id}}" ng-class="{required:adr.isPostalRequired}">
                        <span class="field-name">{{adr.postalLabel |translate}}</span>
                        <strong class="required">{{"REQUIRED" |translate}} </strong>
                        <strong id="postal-error" class="error" ng-if="addressForm.postal.$invalid">
                        <span class="label label-danger" ng-messages="addressForm.postal.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}} </span>
                            <span ng-message="pattern" ng-if="(adr.addressModel.country === 'CAN')">Please specify a valid canadian postal code </span>
                            <span ng-message="pattern" ng-if="(adr.addressModel.country === 'USA')">Please specify a valid american zip code </span>
                        </span>
                        </strong>
                    </label>
                    <input type="text" id="postal_{{$id}}" name="postal" data-ng-model="adr.addressModel.postalCode"
                           class="form-control full-width" ng-maxlength="7" ng-required="adr.isPostalRequired" maxlength="7"
                           ng-pattern="adr.postalPattern"  ng-blur="adr.updateAddressModel()"/>
                </div>
            </div>
            </div>
        </fieldset>
        <div class="row">
            <!--<pre>Selected Country Changed: {{adr.addressModel.country}}</pre>
            <pre>Hide province list: {{adr.hideProvinceDdl}}</pre>
            <pre>selected province: {{adr.addressModel.provState}}</pre>
            <pre>addressForm: {{addressForm | json : spacing}}</pre>-->
            <pre>addressModel: {{adr.addressModel | json : spacing}}</pre>

            <div class="btn-group-sm col-md-12 mrgn-bttm-md text-right">
                <!--<input type="submit" value="Discard" class="btn btn-default" ng-click="adr.onDiscardButtonClick()">-->
                <input type="submit" value="Delete" class="btn btn-danger" ng-click="adr.onDeleteButtonClick()">
                <!--<input type="submit" value="Save" class="btn btn-primary"
                       ng-disabled="(addressForm.$dirty && !addressForm.$valid) || (addressForm.$pristine)"
                       ng-click="adr.save()">-->
            </div>
        </div>

    </ng-form>
</div>