<div class="container-fluid">
    <ng-form name="contactForm">
    <div>
        <h2>Contact Details</h2>
        <div class="form-group">
            <label class="form-checkbox" for="chk-amend-rec-contact_{{$id}}" ng-hide="true">
                <input type="checkbox" id="chk-amend-rec-contact_{{$id}}">{{'AMEND_RECORD'|translate}}</label>
        </div>
        <div>
            <cmp-address-role record="$ctrl.contactModel.addressRole" form-name="contactForm"
                              on-update="$ctrl.onContactRoleUpdate($event.roles)"></cmp-address-role>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="contact-role-list_{{$id}}">REP Contact Role</label>
                <select id="contact-role-list_{{$id}}" data-ng-model="$ctrl.contactModel.contactRole"
                        class="form-control full-width">
                    <option></option>
                    <option>Primary</option>
                    <option>Secondary</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 form-group">
                <label for="contact-salut_{{$id}}">{{"SALUTATION"|translate}}</label>
                <select id="contact-salut_{{$id}}" class="form-control full-width">
                    <option>Mr</option>
                    <option>Ms</option>
                </select>
            </div>
            <div class="col-md-4 form-group">
                <label for="first-name_{{$id}}" class="required"><span
                        class="field-name">{{'FIRST_NAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="first-name_{{$id}}" data-ng-model="$ctrl.contactRecord.givenName"
                       class="form-control full-width" name="text" ng-required="true" maxlength="60" size="60"/>
            </div>
            <div class="col-md-2 form-group">
                <label for="initials_{{$id}}"><span class="field-name">{{'INITIALS'|translate}}</span></label>
                <input type="text" id="initials_{{$id}}" data-ng-model="$ctrl.contactRecord.initials"
                       class="form-control full-width" name="text"/>
            </div>
            <div class="col-md-4 form-group">
                <label for="last-name_{{$id}}" class="required"><span
                        class="field-name">{{'LAST_NAME'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="last-name_{{$id}}" data-ng-model="$ctrl.contactRecord.surname"
                       class="form-control full-width" name="text" ng-required="true" maxlength="60" size="60"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="lang-corresp_{{$id}}"><span
                        class="field-name">{{'LANGUAGE_CORRESPONDENCE'|translate}}</span></label>
                <select id="lang-corresp_{{$id}}" data-data-ng-model="$ctrl.contactRecord.language"
                        class="form-control full-width">
                    <option>En</option>
                    <option>Fr</option>
                </select>
            </div>
            <div class="col-md-6 form-group">
                <label for="job-title_{{$id}}" class="required"><span
                        class="field-name">{{'JOB_TITLE'|translate}}</span>
                    <strong class="required">{{"REQUIRED"|translate}}</strong></label>

                <input type="text" id="job-title_{{$id}}" data-ng-model="$ctrl.contactRecord.title"
                       class="form-control full-width" name="text" ng-required="true" maxlength="60" size="60"/>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 form-group">
                <label for="phone-number_{{$id}}" class="required"><span
                        class="field-name">{{'PHONE_NUMBER'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="phone-number_{{$id}}" data-ng-model="$ctrl.contactRecord.phone"
                       class="form-control full-width" name="text" ng-required="true" maxlength="60" size="60"/>
            </div>

            <div class="col-md-4 form-group">
                <label for="phone-ext_{{$id}}"><span class="field-name">{{'PHONE_EXT'|translate}}</span></label>
                <input type="text" id="phone-ext_{{$id}}" data-ng-model="$ctrl.contactRecord.phoneExt"
                       class="form-control full-width" name="text"/>
            </div>

            <div class="col-md-4 form-group">
                <label for="fax-number_{{$id}}"><span class="field-name">{{'FAX_NUMBER'|translate}}</span></label>
                <input type="text" id="fax-number_{{$id}}" data-ng-model="$ctrl.contactRecord.fax"
                       class="form-control full-width" name="text"/>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12 form-group">
                <label for="contact-email_{{$id}}" class="required"><span
                        class="field-name">{{'EMAIL'|translate}}</span>
                    <strong class="required">{{"REQUIRED" |translate}}</strong></label>
                <input type="text" id="contact-email_{{$id}}" data-ng-model="$ctrl.contactRecord.email"
                       class="form-control full-width" name="text"/>
            </div>

        </div>
    </div>
    <pre>contact model: {{$ctrl.contactRecord | json : spacing}}</pre>
    <div class="row">
        <div class="btn-group-sm col-xs-12 text-right">
            <input type="submit" value="Delete" class="btn btn-danger" ng-click="$ctrl.delete()">
        </div>
    </div>
    </ng-form>
</div>