<div class="form-group">
    <!--<pre>tabs {{tabsCtrl.appendix4List | json}}</pre>-->

    <ul class="nav nav-tabs">
        <li data-ng-repeat="tab in tabsCtrl.tabs" role="presentation" data-ng-click="tabsCtrl.selectTab($index)"
            data-ng-class="{'active':tabsCtrl.tabs[$index].selected === true}">
            <a role="tab">{{tab.label |translate}}
                <strong class="required">{{::"REQUIRED" |translate}}</strong>
            </a>
        </li>
        <sup id="dr10_ref">
            <a class="fn-lnk" href="#dr10"><span class="wb-inv">{{::'INSTRUCTION'|translate}}</span>10</a>
        </sup>
        <!--<li>
            <button title="{{::'EXPAND'|translate}} {{::'AH_SOURCED_INSTRUCT'|translate}}" class="btn rep-help-button-primary btn-xs"
                    id="ah-sourced-instructions-toggle" data-ng-click="tabsCtrl.addInstruct(0)">
                <span class="fa fa-question-circle fa-2x rep-pad-top-10"></span>
                <span class="wb-inv">{{::'AH_SOURCED_INSTRUCT'|translate}}</span>
            </button>
        </li> -->
    </ul>
    <!--<div class="row">
        <div class="col-md-12">
            <div>
                <cmp-alert  ui-state="tabsCtrl.alerts[0]"
                            msg="AH_SOURCED_INSTRUCT"
                            update-state="tabsCtrl.closeAlert(0)"
                            type="alert-info">
                <section aria-live="assertive">
                    <div data-ng-if="!tabsCtrl.isFrench()"
                         ng-include="'app/scripts/templates/drugProduct/tpl-drugProduct-add-sourced-en.html'">
                    </div>
                    <div data-ng-if="tabsCtrl.isFrench()"
                         ng-include="'app/scripts/templates/drug/tpl-drugProduct-add-sourced-fr.html'">
                    </div>
                </section>
                </cmp-alert>
            </div>
        </div>
    </div> -->
    <div class="tabpanels">
        <ng-form name="tabsCtrl.tabs[0].form">
            <div id="formulations-panel" role="tabpanel" class="out">
                <div data-ng-show="tabsCtrl.tabs[0].selected">
                    <cmp-formulations formulations="tabsCtrl.formulationList"
                         error-summary-update="tabsCtrl.updateSummary"
                         show-error-summary="tabsCtrl.showSummary"
                         update-error-summary="tabsCtrl.updateErrorSummary()"
                         is-file-loaded="tabsCtrl.isFileLoaded"
                         record-changed="tabsCtrl.recordChanged()"></cmp-formulations>
                </div>
            </div>
        </ng-form>
        <ng-form name="tabsCtrl.tabs[1].form">
            <div id="appendix4-panel" role="tabpanel" class="out">
                <div  data-ng-show="tabsCtrl.tabs[1].selected">
                    <cmp-appendix-four ingredients="tabsCtrl.appendix4List" service="tabsCtrl.service"
                                       update-error-summary="tabsCtrl.updateErrorSummary()"
                                       error-summary-update="tabsCtrl.updateSummary"
                                       show-error-summary="tabsCtrl.showSummary"
                                       is-file-loaded="tabsCtrl.isFileLoaded"
                                       record-changed="tabsCtrl.recordChanged()"></cmp-appendix-four>
                </div>
            </div>
        </ng-form>
    </div>
 <!--   <pre>{{tabsCtrl.tabs[0]}}</pre>-->
</div>
