<div>
    <ng-form name="main.activityEnrolForm" id="{{::main.formId}}" novalidate="novalidate">
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <div class="btn-group pull-right">
                    <button title="{{::'EXPAND'|translate}} {{::'HELP_FILE_LOAD'|translate}}"
                            class="btn-xs rep-help-button"
                            id="enrol-instructions-toggle" data-ng-click="main.addInstruct(0)"><span
                            class="fa fa-question-circle fa-2x"></span>
                    </button>
                </div>
                <h2 class="panel-title">{{::'LOAD_ACTIVITY'|translate}}</h2>
            </header>
            <div class="panel-body">
                <div>
                    <cmp-alert ui-state="main.alerts[0]" msg="HELP_FILE_LOAD" update-state="main.closeAlert(0)"
                               type="alert-info">
                        <section>
                            <div data-ng-if="!main.isFrench()"
                                 data-ng-include="'app/scripts/templates/activity/tpl-activity-file-en.html'">
                            </div>
                            <div data-ng-if="main.isFrench()"
                                 data-ng-include="'app/scripts/templates/activity/tpl-activity-file-fr.html'">
                            </div>
                        </section>
                    </cmp-alert>
                </div>
                <div class="col-md-12">
                    <hpfb-file-select update-model-root="main.showContent(fileContent)"
                                      root-elem="{{main.rootTag}}"/>
                </div>
            </div>
            <div>
            </div>
        </section>
        <div>
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        <button title="{{::'EXPAND'|translate}} {{::'HELP_ACTIVITY_MAIN'|translate}}"
                                class="btn-xs rep-help-button"
                                id="main-instructions-toggle" data-ng-click="main.addInstruct(1)"><span
                                class="fa fa-question-circle fa-2x"></span>
                        </button>
                    </div>
                    <h2 class="panel-title">{{::'ACTIVE_ENROL' |translate}}</h2>
                </header>
                <div class="panel-body">
                    <div>
                        <cmp-alert ui-state="main.alerts[1]" msg="HELP_ACTIVITY_MAIN" update-state="main.closeAlert(1)"
                                   type="alert-info">
                            <section>
                                <div data-ng-if="!main.isFrench()"
                                     data-ng-include="'app/scripts/templates/activity/tpl-activity-enrolment-en.html'">
                                </div>
                                <div data-ng-if="main.isFrench()"
                                     data-ng-include="'app/scripts/templates/activity/tpl-activity-enrolment-fr.html'">
                                </div>
                            </section>
                        </cmp-alert>
                    </div>
                    <cmp-application-info record="main.activityRoot" user-type="main.userType"
                                          is-incomplete="main.isIncomplete" set-type="main.setApplicationType(type)"
                                          configure-id-field="main.configField"></cmp-application-info>

                    <div>
                        <cmp-error-summary form-ref="main.activityEnrolForm"
                                           form-preamble="REG_TRANSACT" exclusion-list=main.exclusions
                                           name-suffix="main.activityEnrolForm" set-heading-level="h2"
                                           form-id="main.formId"
                                           make-focused="main.focusSummary" alias-list="main.alias"
                                           show-errors="main.savePressed"
                                           update-errors="main.updateSummary"></cmp-error-summary>
                    </div>
                    <div class="row">
                        <div class="col-xs-3" data-ng-class="{'has-error':main.activityEnrolForm[main.companyId].$invalid}">
                            <div class="form-group">
                                <label for="{{::main.companyId}}" class="required">
                                    <span class="field-name">{{::'COMPANY_ID' |translate}}</span>
                                    <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                    <cmp-error-message field-name="main.companyId"
                                                       form-ref="main.activityEnrolForm"
                                                       show-error="main.showError(main.activityEnrolForm[main.companyId])"
                                                       error-types="main.length5Error">
                                    </cmp-error-message>
                                    <input type="text" class="form-control" id="{{::main.companyId}}"
                                           minlength="5" maxlength="6" name="{{::main.companyId}}"
                                           data-ng-model="main.activityRoot.companyId"
                                           data-ng-change="main.updateErrorSummaryState()" required/>

                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="{{::main.dossierId}}" class="required">
                                <span class="field-name">{{::'DOSSIER_ID'|translate}}</span>
                                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                <cmp-error-message field-name="main.dossierId"
                                                   form-ref="main.activityEnrolForm"
                                                   show-error="main.showError(main.activityEnrolForm[main.dossierId])"
                                                   error-types="main.length7Error">
                                </cmp-error-message>
                                <div class="rep-input-group">
                                    <span class="input-group-addon">HC6-024-</span>
                                    <div data-ng-class="{'has-error':main.activityEnrolForm[main.dossierId].$invalid}">
                                        <input type="text" class="form-control full-width" id="{{::main.dossierId}}"
                                               size="7" maxlength="7" id="{{::main.dossierId}}" data-ng-minlength="7"
                                               data-ng-change="main.updateErrorSummaryState()"
                                               name="{{::main.dossierId}}" data-ng-model="main.activityRoot.dossierId"
                                               required/>
                                    </div>
                                </div>

                            </label>
                        </div>
                        <div class="col-xs-4"
                             data-ng-class="{'has-error':main.activityEnrolForm[main.activityLeadId].$invalid}">
                            <div class="form-group">
                                <label for="{{::main.activityLeadId}}" class="required">
                                    <span class="field-name"> {{::'ACTIVITY_LEAD' |translate}}</span>
                                    <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                    <cmp-error-message field-name="main.activityLeadId"
                                                       form-ref="main.activityEnrolForm"
                                                       show-error="main.showError(main.activityEnrolForm[main.activityLeadId])"
                                                       error-types="main.requiredOnly">
                                    </cmp-error-message>
                                    <select class="form-control" id="{{::main.activityLeadId}}"
                                            data-ng-options="lead |translate for lead in main.leadList | orderByTranslated"
                                            name="{{::main.activityLeadId}}" data-ng-change="main.selectActivityList()"
                                            data-ng-model="main.activityRoot.regActivityLead" required></select>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="form-group">
                                <label for="{{::main.activityTypeId}}" class="required full-width">
                                    <span class="field-name">{{::'ACTIVITY_TYPE' |translate}}</span>
                                    <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                    <cmp-error-message field-name="main.activityTypeId"
                                                       form-ref="main.activityEnrolForm"
                                                       show-error="main.showError(main.activityEnrolForm[main.activityTypeId])"
                                                       error-types="main.requiredOnly"></cmp-error-message>
                                    <div class="rep-pad-top">
                                        <div class="rep-error"
                                             data-ng-class="{'has-error':main.activityEnrolForm[main.activityTypeId].$invalid}">
                                            <ui-select data-ng-model="main.activityRoot.regActivityType"
                                                       id="{{::main.activityTypeId}}"
                                                       name="{{::main.activityTypeId}}"
                                                       class="rep-selectize-font full-width"
                                                       on-select="main.updateActivityType()" required>
                                                <ui-select-match placeholder="{{::'REGACTIVSEARCH' |translate}}"
                                                                 class="rep-selectize-font form-control">
                                                    {{$select.selected[main.lang]}}
                                                </ui-select-match>
                                                <ui-select-choices
                                                        repeat="activityValue in main.activityTypeList | filter: {[main.lang]:$select.search}"
                                                        class="rep-selectize-font">
                                                    <span data-ng-bind-html="activityValue[main.lang] | highlight: $select.search"></span>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>

                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="brdr-tp brdr-rght brdr-bttm brdr-lft">
                            <div data-ng-show="main.isRationale" class="mrgn-lft-sm">
                                <cmp-activity-rationale activity-record="main.activityRoot.rationaleTypes"
                                                        is-required="main.isRationale" show-errors="main.showErrors()">
                                </cmp-activity-rationale>
                            </div>
                            <div data-ng-show="main.isNotifiable" class="mrgn-lft-sm">
                                <cmp-activity-change activity-record="main.activityRoot.notifiableChangeTypes"
                                                     is-required="main.isNotifiable" show-errors="main.showErrors()">
                                </cmp-activity-change>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 form-group"
                             data-ng-class="{'has-error':main.activityEnrolForm.reasonFiling.$invalid}">
                            <label for="{{::main.reasonId}}" class="rep-margin-top required">
                                <span class="field-name">{{::"REASON_FILE"|translate}}</span>
                                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                <cmp-error-message field-name="main.reasonId"
                                                   form-ref="main.activityEnrolForm"
                                                   show-error="main.showError(main.activityEnrolForm[main.reasonId])"
                                                   error-types="main.requiredOnly"></cmp-error-message>
                                <button title="{{::'EXPAND'|translate}} {{::'REASON_INSTRUCT'|translate}}"
                                        class="btn rep-help-button-primary btn-xs"
                                        id="reason-instructions-toggle" data-ng-click="main.addInstruct(2)"><span
                                        class="fa fa-question-circle fa-2x"></span>
                                </button>

                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <cmp-alert ui-state="main.alerts[2]" msg="REASON_INSTRUCT" update-state="main.closeAlert(2)"
                                       type="alert-info">
                                <div data-ng-if="!main.isFrench()"
                                     data-ng-include="'app/scripts/templates/activity/tpl-activity-reason-filing-en.html'">
                                </div>
                                <div data-ng-if="main.isFrench()"
                                     data-ng-include="'app/scripts/templates/activity/tpl-activity-reason-filing-fr.html'">
                                </div>
                            </cmp-alert>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                                <textarea data-ng-model="main.activityRoot.reasonFiling" name="{{::main.reasonId}}"
                                          id="{{::main.reasonId}}" data-ng-required="true" maxlength="1024"
                                          data-ng-change="main.updateErrorSummaryState()"
                                          class="form-control full-width" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 form-group">
                            <label for="{{::main.thirdPartyId}}" class="required">
                                <span class="field-name">{{::"IS_SOLICITED" |translate}}</span>
                                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                <cmp-error-message field-name="main.thirdPartyId"
                                                   form-ref="main.activityEnrolForm"
                                                   show-error="main.showError(main.activityEnrolForm[main.thirdPartyId])"
                                                   error-types="main.requiredOnly"></cmp-error-message>
                            </label>
                        </div>
                        <div class="col-xs-2 form-group"
                             data-ng-class="{'has-error':main.activityEnrolForm[main.thirdPartyId].$invalid}">
                            <select id="{{::main.thirdPartyId}}" name="{{::main.thirdPartyId}}"
                                    data-ng-model="main.activityRoot.isThirdParty"
                                    class="form-control" data-ng-change="main.setThirdParty()"
                                    data-ng-options="choice |translate for choice in main.yesNoList"
                                    required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div data-ng-show="main.thirdPartyState" class="alert alert-info" role="alert" aria-live="polite">
                            <p> {{::'AUT_LETTER'|translate}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 form-group">
                            <label for="{{::main.isPriorityId}}" class="required">
                                <span class="field-name">{{::"IS_PRIORITY" |translate}}</span>
                                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                <cmp-error-message field-name="main.isPriorityId"
                                                   form-ref="main.activityEnrolForm"
                                                   show-error="main.showError(main.activityEnrolForm[main.isPriorityId])"
                                                   error-types="main.requiredOnly"></cmp-error-message>
                            </label>
                        </div>
                        <div class="col-xs-2 form-group"
                             data-ng-class="{'has-error':main.activityEnrolForm[main.isPriorityId].$invalid}">
                            <select id="{{::main.isPriorityId}}" name="{{::main.isPriorityId}}"
                                    data-ng-model="main.activityRoot.isPriority" class="form-control"
                                    data-ng-change="main.updateErrorSummaryState()"
                                    data-ng-options="choice |translate for choice in main.yesNoList" required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 form-group">
                            <label for="{{::main.isNocId}}" class="required">
                                <span class="field-name">{{::"IS_NOC" |translate}}</span>
                                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                <cmp-error-message field-name="main.isNocId"
                                                   form-ref="main.activityEnrolForm"
                                                   show-error="main.showError(main.activityEnrolForm[main.isNocId])"
                                                   error-types="main.requiredOnly"></cmp-error-message>
                            </label>
                        </div>
                        <div class="col-xs-2 form-group"
                             data-ng-class="{'has-error':main.activityEnrolForm[main.isNocId].$invalid}">
                            <select id="{{::main.isNocId}}" name="{{::main.isNocId}}"
                                    data-ng-model="main.activityRoot.isNoc" class="form-control"
                                    data-ng-change="main.updateErrorSummaryState()"
                                    data-ng-options="choice |translate for choice in main.yesNoList" required></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10 form-group">
                            <label for="{{::main.isAdminSubId}}" class="required">
                                <span class="field-name">{{::"IS_ADMIN_SUBMISSION" |translate}}</span>
                                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                <button title="{{::'EXPAND'|translate}} {{::'ADMIN_COMP_INSTRUCT'|translate}}"
                                        class="btn rep-help-button-primary btn-xs"
                                        id="is-admin-instructions-toggle" data-ng-click="main.addInstruct(3)"><span
                                        class="fa fa-question-circle fa-2x"></span>
                                </button>
                                <cmp-error-message field-name="main.isAdminSubId"
                                                   form-ref="main.activityEnrolForm"
                                                   show-error="main.showError(main.activityEnrolForm[main.isAdminSubId])"
                                                   error-types="main.requiredOnly"></cmp-error-message>
                            </label>
                        </div>
                        <div class="col-xs-2 form-group"
                             data-ng-class="{'has-error':main.activityEnrolForm[main.isAdminSubId].$invalid}">
                            <select id="{{::main.isAdminSubId}}" name="{{::main.isAdminSubId}}"
                                    data-ng-model="main.activityRoot.isAdminSub" class="form-control"
                                    data-ng-change="main.setAdminSubmission()"
                                    data-ng-options="choice |translate for choice in main.yesNoList" required></select>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <cmp-alert ui-state="main.alerts[3]" msg="ADMIN_COMP_INSTRUCT" update-state="main.closeAlert(3)"
                                       type="alert-info">
                                <div data-ng-if="!main.isFrench()"
                                     data-ng-include="'app/scripts/templates/activity/tpl-activity-admin-comp-en.html'">
                                </div>
                                <div data-ng-if="main.isFrench()"
                                     data-ng-include="'app/scripts/templates/activity/tpl-activity-admin-comp-fr.html'">
                                </div>
                            </cmp-alert>
                        </div>
                    </div>


                    <div data-ng-show="main.showActivity">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="{{::main.adminSubTypeId}}" class="required">
                                    <span class="field-name">{{::"ADMIN_SUB_TYPE" |translate}}</span>
                                    <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                    <select id="{{::main.adminSubTypeId}}" name="{{::main.adminSubTypeId}}"
                                            data-ng-model="main.activityRoot.subType" class="form-control"
                                            data-ng-change="main.updateErrorSummaryState()"
                                            data-ng-options="choice[main.lang] for choice in main.adminSubTypeList track by choice.id"
                                            data-ng-required="main.showActivity"></select>
                                    <cmp-error-message field-name="main.adminSubTypeId"
                                                       form-ref="main.activityEnrolForm"
                                                       show-error="main.showError(main.activityEnrolForm[main.adminSubTypeId])"
                                                       error-types="main.requiredOnly"></cmp-error-message>
                                </label>

                                <h3 data-ng-if="main.activityRoot.subType">{{::'ADMIN_DESCRIPT'|translate}}</h3>
                                <div data-ng-if="!main.isFrench()" data-ng-switch="main.activityRoot.subType.id">
                                    <div data-ng-switch-when="MANUFACT_NAME_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-manu-name-change-en.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="PRODUCT_NAME_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-product-name-change-en.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="PRODUCT_MANUFACT_NAME_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-manuorname-change-en.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="OWNERSHIP_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-ownership-change-en.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="MERGER">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-mab-en.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="LICENGSING">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-licensing-en.html'"></div>
                                    </div>
                                    <div ng-switch-when="POSTAUTH_LABEL_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-labelling-change-en.html'"></div>
                                    </div>
                                    <div ng-switch-when="POSTAUTH_CHEMISTRY_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-update-en.html'"></div>
                                    </div>
                                    <div ng-switch-when="ADDITIONAL_PRODUCT_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-additional-en.html'"></div>
                                    </div>
                                </div>
                                <div data-ng-if="main.isFrench()" ng-switch="main.activityRoot.subType.id">
                                    <div data-ng-switch-when="MANUFACT_NAME_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-manu-name-change-fr.html'"></div>
                                    </div>
                                    <div ng-switch-when="PRODUCT_NAME_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-product-name-change-fr.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="PRODUCT_MANUFACT_NAME_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-manuorname-change-fr.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="OWNERSHIP_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-ownership-change-fr.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="MERGER">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-mab-fr.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="LICENGSING">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-licensing-fr.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="POSTAUTH_LABEL_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-labelling-change-fr.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="POSTAUTH_CHEMISTRY_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-update-fr.html'"></div>
                                    </div>
                                    <div data-ng-switch-when="ADDITIONAL_PRODUCT_CHGE">
                                        <div aria-live="assertive"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-additional-fr.html'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  <pre>{{main.adminSubTypeList}}</pre>-->
                    <fieldset id="fs_addrMissing_{{::$id}}">
                        <label>
                            <span class="field-name">{{::'ADDRESS_NOC'|translate}}</span>
                            <button title="{{::'EXPAND'|translate}} {{::'ADDR_INSTRUCT'|translate}}"
                                    class="btn rep-help-button-primary btn-xs"
                                    id="address-instructions-toggle" data-ng-click="main.addInstruct(4)"><span
                                    class="fa fa-question-circle fa-2x"></span>
                            </button>
                        </label>
                        <div>
                            <div class="row">
                                <div class="col-md-12">
                                    <cmp-alert ui-state="main.alerts[4]" msg="ADDR_INSTRUCT" update-state="main.closeAlert(4)"
                                               type="alert-info">
                                        <div data-ng-if="!main.isFrench()"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-address-sent-en.html'">
                                        </div>
                                        <div data-ng-if="main.isFrench()"
                                             data-ng-include="'app/scripts/templates/activity/tpl-activity-address-sent-fr.html'">
                                        </div>
                                    </cmp-alert>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label for="manuid">
                                            <input type="checkbox" id="manuid" name="manuid"
                                                   data-ng-model="main.activityRoot.manu"
                                                   data-ng-change="main.rolechecked()"/>
                                            <span>{{::"MANU_SPON"|translate}}</span>

                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label for="maillingid">
                                            <input type="checkbox" id="maillingid" name="maillingid"
                                                   data-ng-model="main.activityRoot.mailling"
                                                   data-ng-change="main.rolechecked()"/>
                                            <span>{{::"REGU_ANNU"|translate}}</span>

                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label for="thisActivity">
                                            <input type="checkbox" id="thisActivity" name="thisActivity"
                                                   data-ng-model="main.activityRoot.thisActivity"
                                                   data-ng-change="main.rolechecked()"/>
                                            <span>{{::"THIS_ACTIVITY"|translate}}</span>

                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox">
                                        <label for="importername">
                                            <input type="checkbox" id="importername" name="importername"
                                                   data-ng-model="main.activityRoot.importer"
                                                   data-ng-change="main.rolechecked()"/>
                                            <span>{{::"CAN_IMP"|translate}}</span>

                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group col-md-4"
                         data-ng-show="main.activityRoot.importer">
                        <div data-ng-class="{'has-error':main.activityEnrolForm[main.importerIden].$invalid}">
                            <label for="{{::main.importerIden}}" class="required">
                                <span class="field-name">{{::"IMPORTER_ID" |translate}}</span>
                                <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                                <cmp-error-message field-name="main.importerIden"
                                                   form-ref="main.activityEnrolForm"
                                                   show-error="main.showError(main.activityEnrolForm[main.importerIden])"
                                                   error-types="main.length6Error"></cmp-error-message>
                                <input type="text" id="{{::main.importerIden}}" name="{{::main.importerIden}}"
                                       data-ng-model="main.activityRoot.importerId"
                                       data-ng-change="main.updateErrorSummaryState()"
                                       class="form-control full-width" minlength="6" maxlength="6"
                                       data-ng-required="main.activityRoot.importer"/>

                            </label>
                        </div>
                    </div>
                </div>
            </section>
            <div>
                <section class="panel panel-primary mrgn-tp-lg">
                    <header class="panel-heading clearfix">
                        <div class="btn-group pull-right">
                            <button title="{{::'EXPAND'|translate}} {{::'HELP_ACTIVITY_REP'|translate}}"
                                    class="btn-xs rep-help-button"
                                    id="rep-instructions-toggle" data-ng-click="main.addInstruct(5)"><span
                                    class="fa fa-question-circle fa-2x"></span><span class="wb-inv">"{{::'EXPAND'|translate}} {{::'HELP_ACTIVITY_REP'|translate}}"</span>
                            </button>
                        </div>
                        <h2 class="panel-title">{{::'REP_CONTACT_INFO'|translate}}</h2>
                    </header>
                    <div class="panel-body">
                        <div>
                            <cmp-alert ui-state="main.alerts[5]" msg="HELP_ACTIVITY_REP"
                                       update-state="main.closeAlert(5)" type="alert-info">
                                <section>
                                    <div data-ng-if="!main.isFrench()"
                                         data-ng-include="'app/scripts/templates/activity/tpl-activity-rep-contact-en.html'">
                                    </div>
                                    <div data-ng-if="main.isFrench()"
                                         data-ng-include="'app/scripts/templates/activity/tpl-activity-rep-contact-fr.html'">
                                    </div>
                                </section>
                            </cmp-alert>

                        </div>
                        <div class="container-fluid">
                            <cmp-rep-contact-list contacts="main.activityRoot.contactRecord" on-update=""
                                                  show-error-summary="main.savePressed"
                                                  show-list-errors="main.showErrors()" is-amend="main.formAmend"
                                                  parent-dirty="main.activityEnrolForm.$dirty">

                            </cmp-rep-contact-list>
                        </div>

                    </div>
                </section>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <button class="btn btn-default btn-lg active" data-ng-click="main.saveJson()"
                            data-ng-disabled="main.disableJSONSave()">
                        {{::'SAVE_WORKING'|translate}}
                    </button>
                </div>
                <div class="form-group col-md-3">
                    <button class="btn btn-primary  btn-lg active" id="btn_xmlSave"
                            data-ng-click="main.saveXML()" data-ng-disabled="main.disableXML">
                        {{main.saveXMLLabel |translate}}
                    </button>
                    <button title="{{::'EXPAND'|translate}} {{::'SAVE_INSTRUCT'|translate}}"
                            class="btn rep-help-button-primary btn-xs"
                            id="save-instructions-toggle" data-ng-click="main.addInstruct(6)"><span
                            class="fa fa-question-circle fa-2x"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">

                    <cmp-alert ui-state="main.alerts[6]" msg="SAVE_INSTRUCT" update-state="main.closeAlert(6)"
                               type="alert-info">
                        <div data-ng-if="!main.isFrench()"
                             data-ng-include="'app/scripts/templates/activity/tpl-activity-save-en.html'">
                        </div>
                        <div data-ng-if="main.isFrench()"
                             data-ng-include="'app/scripts/templates/activity/tpl-activity-save-fr.html'">
                        </div>
                        </section>
                    </cmp-alert>
                </div>
            </div>
        </div>
    </ng-form>
</div>