<fieldset>
    <legend >
        <label class="required">
            <span class="field-name">{{chkl.title}}</span>
        </label>
    </legend>

    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 form-group" ng-repeat="item in chkl.listItems">
        <label class="form-checkbox form-label-inline" for="chk-{{item.name}}-{{$index}}">
            <input type="checkbox" name="item.commonName" ng-model="item.value" id="chk-{{item.name}}-{{$index}}"  ng-required="!chkl.someSelected()"> {{item.label}}
        </label>
    </div>

</fieldset>
