<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->

    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/angular-messages/angular-messages.min.js"></script>
    <!-- endbuild -->

    <!--[if gte IE 9 | !IE ]><!-->
    <link href="../wet-lib/theme-gcwu-fegc/assets/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="../wet-lib/theme-gcwu-fegc/css/theme.min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <link href="../wet-lib/theme-gcwu-fegc/assets/favicon.ico" rel="shortcut icon"/>
    <link rel="stylesheet" href="../wet-lib/theme-gcwu-fegc/css/ie8-theme.min.css"/>
    <script src="../wet-lib/wet-boew/js/ie8-wet-boew.min.js"></script>
    <![endif]-->

    <style>
        .selected {
            background-color: black;
            color: white;
            font-weight: bold;
        }
    </style>

    <noscript>
        <link rel="stylesheet" href="../wet-lib/wet-boew/css/noscript.min.css"/>
    </noscript>
</head>
<body ng-app="dossierApp"  class="center-block" >
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here

<section class="panel panel-primary">
	<header class="panel-heading">
		<h3 class="panel-title">Panel title (<code>panel-primary</code>)</h3>
	</header>
	<div class="panel-body">
		<p>Panel content</p>
	</div>
</section>
-->

<script type='text/ng-template' id="message-template">
    <div ng-message="minlength">Message must be over 10 characters</div>
    <div ng-message="required">This field is required</div>
    <div ng-message="maxlength">Message must not exceed 100 characters</div>
</script>

<!--<ul>
    <li ng-repeat="(key, errors) in companyForm.$error track by $index"> <strong>{{ key }}</strong> errors
        <ul>
            <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
        </ul>
    </li>
</ul>-->

<form id="reg-company-form" name="companyForm" ng-controller="MainController as main" novalidate>
    <div style="margin: 0 auto; width: 1170px">
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading">
                <h3 class="panel-title">Regulatory Company Enrolment</h3>
            </header>
            <div class="panel-body">

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <label for="enr-version-text">Enrolment Version</label>
                        <input type="text" class="form-control" id="enr-version-text" ng-model="company.enrolmentVersion" placeholder="Enrolment Version"/>

                    </div>
                    <div class="col-xs-4 form-group">
                        <label for="date-saved-text">Date Last Saved</label>
                        <input type="text" class="form-control" id="date-saved-text" ng-model="company.dateSaved" placeholder="Date Last Saved"/>
                    </div>
                    <div class="col-xs-4 form-group">
                        <label for="company-id-text">Company ID</label>
                        <input type="text" class="form-control" id="company-id-text" ng-model="company.companyId" placeholder="Company ID"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 form-group">
                        <label for="application-type-list">Application Type</label>
                        <select id="application-type-list" ng-model="company.applicationType" class="form-control full-width">
                            <option>New</option>
                            <option>Approved</option>
                            <option>Amend</option>
                        </select>
                    </div>
                </div>

              <!-- <pre>company.contactList: {{company.contactList}}</pre>-->

                <cmp-address-list ng-if="company.addressList" addresses="company.addressList" form-name="companyForm" on-update="main.onUpdateAddressList(newList)"></cmp-address-list>
                <cmp-contact-list ng-if="company.contactList" contacts="company.contactList" form-name="companyForm"  on-update="main.onUpdateContactList(newList)"></cmp-contact-list>









            </div>
        </section>
        <!---->
    </div>
</form>

<!--[if gte IE 9 | !IE ]><!-->
<script src="../wet-lib/wet-boew/js/wet-boew.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="../wet-lib/wet-boew/js/ie8-wet-boew2.min.js"></script>

<![endif]-->
<script src="../wet-lib/theme-gcwu-fegc/js/theme.min.js"></script>

<script src="../lib/angular-translate/angular-translate.min.js"></script>
<script src="../lib/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<link rel="stylesheet" href="styles/main.css">
<script src="scripts/app.js"></script>
<script src="scripts/services/company-service.js"></script>
<script src="scripts/services/data-lists.js"></script>
<script src="scripts/components/cmp-country-select.js"></script>
<script src="scripts/components/cmp-address-role.js"></script>
<script src="scripts/components/cmp-address-details.js"></script>
<script src="scripts/components/cmp-contact-details.js"></script>
<script src="scripts/components/cmp-address-list.js"></script>
<script src="scripts/components/cmp-contact-list.js"></script>
<!-- <script src="scripts/components/dir-arrow-selector.js"></script>
 -<script src="scripts/controllers/about.js"></script>
  endbuild -->
</body>
</html>
