<div>
    <h5>fr_Details provided in this section should not include scientific information
        and should not repeat what will be provided in a Note to Reviewer.
        Only administrative information should be provided here.
    </h5>
    <ol>
        <li>Clearly state why this submission will be filed.
            <ul>
                <li type="a">Proposed indication/use</li>
                <li type="a">Include a brief description of all relevant correspondence with Health Canada</li>
                <li type="a">Include a brief description of all relevant request letters
                    (including an Advisement Letter) from Health Canada, if applicable
                </li>
                <li type="a">Include Brand Name of product, if known</li>
                <li type="a">Reference Post-NOC Changes:
                    Quality Document or Guidance Document on Post-DIN Changes and change number, if applicable
                </li>
                <li type="a">Include reference to Nonprescription Drug Labelling Standard
                    or Category IV Monograph, if applicable
                </li>
            </ul>
        </li>
        <li>All cross-referenced regulatory activities should be clearly described,
            including the date that the regulatory activity was approved and the control numbers of each regulatory activity,
            if applicable (e.g. control number assigned to a Priority Review Request package
            and the date that the Priority Review status was found acceptable,
            control number under which the sponsor was notified of
            the eligibility of the drug submission for filing and consideration under the NOC/c Policy).
        </li>
        <li>Additional requirements apply for the following regulatory activities:
            <ul>
                <li type="a">PSUR-PV or PBRER-PV should specify whether:
                    <ul class="dash-bullets">
                        <li>There has been a significant change in what is known about the risks
                            and benefits of the health product,</li>
                        <li>The submission contains unsolicited information and is a VOLUNTARY PSUR-PV/PBRER-PV.</li>
                        <li>This submission has been requested by Health Canada
                            and is a REQUESTED PERIODIC PSUR-PV/PBRER-PV
                            (for example RMP follow-up or post-authorization commitment) or
                        </li>
                        <li>This submission has been requested by Health Canada as a one-time request
                            made by either the pre-market review directorate reviewing
                            an associated regulatory activity or by MHPD and is a REQUESTED AD HOC PSUR/PBRER
                            (the requester should be specified).
                        </li>
                    </ul>
                </li>
                <li type="a">RMP-PV should specify whether:
                    <ul class="dash-bullets">
                        <li>The submission contains unsolicited information,
                            and is a VOLUNTARY RMP or
                        </li>
                        <li>The submission has been requested by Health Canada
                            as a one-time request made by MHPD,
                            and is a REQUESTED AD HOC RMP (the requester should be specified)
                        </li>
                    </ul>
                </li>
                <li type="a">DINAs, please indicate if there is a labelling reference product.
                </li>
            </ul>
        </li>
    </ol>
</div>