<section>
    <div>
        <ul>
            <li>The “<b>Enrolment Status</b>”, “<b>Enrolment Version</b>”, and “<b>Date
                Last Saved</b>”
                fields are automatically filled by the form upon selecting “<b>Save Working
                    Copy</b>” or “<b>Save Draft for Filing</b>” in the bottom of the
                template.
            </li>
            <li>The “<b>Control Number</b>” field will be filled by Health Canada when
                generating final xml file.
            </li>
            <li>The “<b>Amend Enrolment</b>” button is only enabled
                when a Final Regulatory Activity XML is loaded into the template,
                and must be selected when amending a Final Regulatory Activity XML.
            </li>
            <li>The “<b>Company ID</b>” can be obtained from the final company XML file, finalized
                by Health Canada.
            </li>
            <li>The “<b>Dossier ID</b>” can be obtained from the final dossier XML file,
                or other Health Canada issued document. (e.g. HC6-024-x######, i.e. HC6-024-e172345).
            </li>
            <li>The “<b>Amend Enrolment</b>” button must be selected when amending a final regulatory activity XML.
                Load the final XML file in the template to enable the “<b>Amend Enrolment</b>” button.
            </li>
        </ul>

    </div>
</section>