<div class="container-fluid">
    <ng-form name="cspApplCtrl.applForm">


        <div class="row">
            <div class="form-group col-md-12" ng-class="{'has-error':cspApplCtrl.applForm.applicant_{{::$id}}.$invalid}">
                <label for="applicant_{{::$id}}" class="required">
                    <span class="field-name">{{"APPLICANT" |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="text" id="applicant_{{::$id}}" name="applicant_{{::$id}}"
                           data-ng-model="cspApplCtrl.model.applicantName" class="form-control" maxlength="80"
                           required/>
                    <strong id="applicant-error" class="error"
                            ng-if="cspApplCtrl.showError(cspApplCtrl.applForm.applicant)">
                             <span class="label label-danger" ng-messages="cspApplCtrl.applForm.applicant.$error">
                                 <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                             </span>
                    </strong>
                </label>
            </div>
        </div>
        <cmp-contact-details is-amend="true" contact-record="cspApplCtrl.model.contact"></cmp-contact-details>
        <cmp-address-details is-amend="true" address-record="cspApplCtrl.model.address"></cmp-address-details>

    </ng-form>
</div>