<ng-form name="roaCtrl.roaListForm">
    <div class="row">
        <cmp-expanding-table title="Routes of administration" reset-to-collapsed="roaCtrl.resetToCollapsed"
                             list-items="roaCtrl.model.roaList"
                             column-def="roaCtrl.columnDef" select-record="roaCtrl.selectRecord"
                             disable-selection="!roaCtrl.isDetailValid">

            <cmp-roa-record record="$parent.record" show-errors="thera.showErrors()" on-delete="roaCtrl.deleteRecord(id)"></cmp-roa-record>

        </cmp-expanding-table>

        <div class="row">
            <div class="col-md-12 text-right margin-top-large mrgn-tp-md">
                <button class="btn btn-primary" ng-click="roaCtrl.addNew()" ng-disabled="roaCtrl.roaListForm.$invalid">{{'ADD_ROA'|translate}}</button>
            </div>
        </div>
    </div>
</ng-form>