<ng-form name="animalSectCtrl.anSectForm">

<cmp-animalSourced-list></cmp-animalSourced-list>

    <div class="row">
        <div class="cl-md-6">
            <select id="controlledPop{{$id}}" name="controlledPop" ng-model="animalSectCtrl.model.isControlledPop" class="form-control full-width"
                    ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList"> required>
            </select>
        </div>
        <div class="cl-md-6">
            <select id="bioTech{{$id}}" name="biotech" ng-model="animalSectCtrl.model.isBiotechDerived" class="form-control full-width"
                    ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList"> required>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="cl-md-6">
            <select id="cLine{{$id}}" name="cellLine" ng-model="animalSectCtrl.model.isCellLine" class="form-control full-width"
                    ng-options="val |translate for val in animalSectCtrl.yesNoUnknownList"> required>
            </select>
        </div>
        <div class="cl-md-6">
            <input type="number" id="ageAnimals{{$id}}" name="ageAnimals" ng-model="animalSectCtrl.model.ageAnimals" class="form-control full-width"  />
        </div>
    </div>

</ng-form>