<div>
    <ng-form name="tfoForm">
        <fieldset>
            <legend class="required">
                <span class="field-name">{{'TISSUES_ORIGIN'| translate}}</span>
                <strong class="required"> {{"REQUIRED" |translate}}</strong>
                <span>
                    <input id="oneSelected_{{$id}}" name="oneSelected" ng-required="true" ng-show="false"
                           ng-model="tfoCtrl.isSelected" ng-required="true"/>
                <strong id="roleSelected-role-error" class="error" ng-if="tfoCtrl.showNoRecordError(tfo-form.$dirty)">
                             <span class="label label-danger" aria-live="polite"
                                   ng-messages="tfoForm.oneSelected.$error">
                                {{"MSG_ERR_ONE_SYSTEM"|translate}}
                             </span>
                </strong>
                    </span>
            </legend>


            <div>
                <div>
                    <h3>{{'NERVOUSYSTEM' |translate}}</h3>
                </div>
                <div class="col col-md-12">
                    <cmp-checkbox-list
                            common-name="{{tfoCtrl.model.nervousSystem.groupName}}"
                            list-items="tfoCtrl.model.nervousSystem.list"></cmp-checkbox-list>
                </div>
            </div>
            <div>
                <div>
                    <h3>{{'DIGESTIVESYSTEM' |translate}}</h3>
                </div>
                <div class="col col-md-12">
                    <cmp-checkbox-list
                            common-name="{{tfoCtrl.model.digestiveSystem.groupName}}"
                            list-items="tfoCtrl.model.digestiveSystem.list"></cmp-checkbox-list>
                </div>
            </div>
            <div>
                <div>
                    <h3>{{'REPRODUCTSYSTEM' |translate}}</h3>
                </div>
                <div class="col col-md-12">
                    <cmp-checkbox-list
                            common-name="{{tfoCtrl.model.reproductiveSystem.groupName}}"
                            list-items="tfoCtrl.model.reproductiveSystem.list"></cmp-checkbox-list>
                </div>
            </div>
            <div>
                <div>
                    <h3>{{'CARDIOSYSTEM' |translate}}</h3>
                </div>
                <div class="col col-md-12">
                    <cmp-checkbox-list
                            common-name="{{tfoCtrl.model.cardioSystem.groupName}}"
                            list-items="tfoCtrl.model.cardioSystem.list"></cmp-checkbox-list>
                </div>
            </div>
            <div>
                <div>
                    <h3>{{'IMMUNESYSTEM' |translate}}</h3>
                </div>
                <div class="col col-md-12">
                    <cmp-checkbox-list
                            common-name="{{tfoCtrl.model.immuneSystem.groupName}}"
                            list-items="tfoCtrl.model.immuneSystem.list"></cmp-checkbox-list>
                </div>
            </div>
            <div>
                <div>
                    <h3>{{'SKINGLANDSYSTEM' |translate}}</h3>
                </div>
                <div class="col col-md-12">
                    <cmp-checkbox-list
                            common-name="{{tfoCtrl.model.skinGlandSystem.groupName}}"
                            list-items="tfoCtrl.model.skinGlandSystem.list"></cmp-checkbox-list>
                </div>
            </div>
            <div>
                <div>
                    <h3>{{'MUSCULOSYSTEM' |translate}}</h3>
                </div>
                <div class="col col-md-12">
                    <cmp-checkbox-list
                            common-name="{{tfoCtrl.model.musculoSkeletalSystem.groupName}}"
                            list-items="tfoCtrl.model.musculoSkeletalSystem.list"></cmp-checkbox-list>
                </div>
            </div>
            <div>
                <div>
                    <h3>{{'OTHERTISSUE' |translate}}</h3>
                </div>
                <div class="col col-md-12">
                    <cmp-checkbox-list
                            common-name="{{tfoCtrl.model.otherTissues.groupName}}"
                            list-items="tfoCtrl.model.otherTissues.list"></cmp-checkbox-list>
                </div>
            </div>
        </fieldset>
    </ng-form>
</div>
