<ng-form name="dinForm">
    <div class="col-xs-3 form-group "
         ng-class="{'has-error':dinForm.dinValue.$invalid}">
        <div class="col-xs-9 " >
        <label for="dinValue_{{$id}}" class="required">
            <span class="field-name">{{'DIN'|translate}}&nbsp;{{dinCtrl.detailsIndex+1}}</span>
            <strong class="required"> {{"REQUIRED" |translate}}</strong>
            <input type="text" size="8" maxlength="8" ng-model="dinCtrl.record.dinNumber" class="form-control"
                   name="dinValue" id="dinValue_{{$id}}" ng-required="true"/>
            <strong id="dinValue-error" class="error"
                    ng-if="dinCtrl.showError(dinForm.dinValue.$touched,dinForm.dinValue.$invalid)">
                        <span class="label label-danger" ng-messages="dinForm.dinValue.$error">
                            <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                        </span>
            </strong>
        </label>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-danger" ng-click="dinCtrl.delete()">
                <span  aria-label="{{'DELETE_DIN'|translate }} {{dinCtrl.detailsIndex+1}}"></span>
                {{'DELETE'|translate}}
            </button>
        </div>
    </div>

</ng-form>
<!--
class="fa fa-times fa-lg"-->
