<form id="dossier-form" name="dos.dossierForm" novalidate>

    <section class="panel  panel-primary mrgn-tp-lg">
        <header class="panel-heading">
            <h3 class="panel-title">{{'LOAD_DOSSIER'|translate}}</h3>
        </header>
        <div class="panel-body">
            <hpfb-file-select update-model-root="dos.showContent(fileContent)"
                              root-elem="{{dos.dossierModel}}"></hpfb-file-select>
        </div>
    </section>

    <section class="panel panel-primary mrgn-tp-lg">
        <header class="panel-heading">
            <h3 class="panel-title">{{'DOSSIER_HDING'|translate}}</h3>
        </header>
        <div class="panel-body">

        <div>
            <cmp-application-info record="dos.dossierModel" user-type="dos.formUserType" set-type="dos.setApplicationType(type)"
                                  configure-id-field="dos.configField" is-incomplete="dos.isIncomplete"></cmp-application-info>

        </div>
            <section class="panel  panel-default">
                <header class="panel-heading">
                    <h2 class="panel-title">{{'DRUG_PRODUCT' |translate}}</h2>
                </header>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="third-party-signed">
                                <input type="checkbox" name="thirdPartySigned"
                                       ng-model="dos.dossierModel.drugProduct.thirdPartySigned" id="third-party-signed"
                                       ng-change="dos.thirdPartySignedChanged()">
                                {{'SIGNED_THIRD'|translate}}
                            </label>
                            <label ng-if="dos.dossierModel.drugProduct.thirdPartySigned" class="label-info full-width">{{'INCLUDE_AUTH'|translate}}</label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="related-dossier-id"></label>
                            {{'RELATED_DOSSIER'|translate}}
                            <input type="text" class="form-control full-width" id="related-dossier-id"
                                   ng-model="dos.dossierModel.relatedDossierID"/>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="product-name">{{'PROPNAME' |translate}}</label>
                            <input type="text" class="form-control full-width" id="product-name"
                                   ng-model="dos.dossierModel.productName"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="proper-name">{{'PROPER_NAME' |translate}}</label>
                            <input type="text" class="form-control full-width" id="proper-name" ng-model="dos.dossierModel.properName" placeholder="Proper, Common or Non-Proprietary Name"/>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">

                            <cmp-ref-product-list products="dos.dossierModel.canRefProducts"></cmp-ref-product-list>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">

                            <cmp-drug-use list-items="" show-list-errors="dos.showErrors()"
                                          parent-dirty="dos.dossierForm.$dirty"></cmp-drug-use>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <cmp-therapeutic-class list-items=""></cmp-therapeutic-class>

                            <!--<cmp-expanding-table title="Therapeutic Classification" list-items="dos.dossierModel.therapeutic.listItems" column-def="dos.dossierModel.therapeutic.columnDef"></cmp-expanding-table>-->
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label for="third-party-signed">
                                <input type="checkbox" name="isScheduleA" ng-model="dos.dossierModel.drugProduct.isScheduleA" id="is-schedule-case" ng-change=""> This is a non-prescription drug to which one
                                or more Schedule A claims apply
                            </label>


                        </div>
                    </div>

                    <div class="row" ng-if="dos.dossierModel.drugProduct.isScheduleA">
                        <div class="col-xs-12 form-group">
                            <cmp-schedule-a schedule-group=""></cmp-schedule-a>
                        </div>
                    </div>

                </div>

            </section>


           <cmp-tabs></cmp-tabs>
            <!--<cmp-appendix-four></cmp-appendix-four>-->

           <!--<cmp-contact-list ng-if="dos.dossierModel.contactList" contacts="dos.dossierModel.contactList" on-update="dos.onUpdateContactList(newList)"></cmp-contact-list>-->
            <div>
                <cmp-rep-contact-list contacts="dos.dossierModel.contactInfo.contactList"
                                      parent-dirty="dos.dossierForm.$dirty"
                                      show-list-errors="dos.showErrors()" is-amend="dos.formAmend"
                ></cmp-rep-contact-list>



            </div>

       </div>


   </section>
    <pre>{{dos.dossierModel | json }}</pre>
</form>