<ng-form id="{{::dos.dossierFormId}}" name="dos.dossierForm">
    <div data-translate-cloak="cloak-class">
        <section class="panel  panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <h2 class="panel-title col-md-8">{{::'LOAD_DOSSIER'|translate}}</h2>
                <div class="btn-group pull-right">
                    <button title="{{::'EXPAND'|translate}} {{::'HELP_FILE_LOAD'|translate}}"
                            class="btn-xs rep-help-button"
                            id="instructions-toggle" data-ng-click="dos.addInstruct(0)">
                           <span class="fa fa-question-circle fa-2x"></span>
                           <span class="wb-inv">{{::'HELP_FILE_LOAD'|translate}}</span>
                    </button>
                </div>
            </header>
            <div class="panel-body">
                <div>
                    <cmp-alert  ui-state="dos.alerts[0]"
                                msg="HELP_FILE_LOAD"
                                update-state="dos.closeAlert(0)"
                                type="alert-info">
                        <section aria-live="assertive">
                            <div data-ng-if="!dos.isFrench()"
                             ng-include="'app/scripts/templates/dossier/tpl-dossier-file-en.html'">
                            </div>
                            <div data-ng-if="dos.isFrench()"
                             ng-include="'app/scripts/templates/dossier/tpl-dossier-file-fr.html'">
                            </div>
                        </section>
                    </cmp-alert>
                </div>
                <div class="col-md-12">
                <hpfb-file-select update-model-root="dos.showContent(fileContent)"
                                  root-elem="DOSSIER_ENROL">
                </hpfb-file-select>
                </div>
            </div>
        </section>
        <section class="panel panel-primary mrgn-tp-lg">
            <header class="panel-heading clearfix">
                <h2 class="panel-title col-md-8">{{::'Dossier Information'|translate}}</h2>
                <div class="btn-group pull-right">
                    <button title="{{::'EXPAND'|translate}}  {{::'HELP_DOSSIER'|translate}}"
                            class="btn-xs rep-help-button"
                            id="dossier-instructions-toggle" data-ng-click="dos.addInstruct(1)">
                        <span class="fa fa-question-circle fa-2x"></span>
                        <span class="wb-inv">{{::'HELP_DOSSIER'|translate}}</span>
                    </button>
                </div>
            </header>
            <div class="panel-body">
                <div>
                    <cmp-alert  ui-state="dos.alerts[1]"
                                msg="HELP_DOSSIER"
                                update-state="dos.closeAlert(1)"
                                type="alert-info">
                    <section aria-live="assertive">
                        <div data-ng-if="!dos.isFrench()"
                             ng-include="'app/scripts/templates/dossier/tpl-dossier-enrolment-en.html'">
                        </div>
                        <div data-ng-if="dos.isFrench()"
                             ng-include="'app/scripts/templates/dossier/tpl-dossier-enrolment-fr.html'">
                        </div>
                    </section>
                    </cmp-alert>
                </div>
                <div>
                    <cmp-application-info record="dos.dossierModel" user-type="dos.userType"
                                          set-type="dos.setApplicationType(type)"
                                          configure-id-field="dos.configField" is-hide="true"
                                          is-incomplete="dos.isIncomplete">
                    </cmp-application-info>
                </div>
                <div>
                    <cmp-error-summary form-ref="dos.dossierForm" select-tab="dos.selectTab(index)"
                                       form-preamble="DOSSIER" exclusion-list=dos.exclusions
                                       name-suffix="dos.dossierForm" set-heading-level="h2" form-id="dos.dossierFormId"
                                       make-focused="dos.focusSummary" alias-list="dos.alias" show-errors="dos.showSummary"
                                       update-errors="dos.updateSummary">
                    </cmp-error-summary>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-4 form-group"
                             data-ng-class="{'has-error':dos.dossierForm[dos.typeId].$invalid}">
                        <label for="{{::dos.typeId}}" class="required">
                            <span class="field-name">{{::'DOSSIER_TYPE' |translate}}</span>
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <span title="{{::'EXPAND'|translate}} {{::'DOSSIER_TYPE_HELP'|translate}}"
                                    class="btn rep-help-button-primary btn-xs"
                                    id="type-instructions-toggle" data-ng-click="dos.addInstruct(10)"><span
                                    class="fa fa-question-circle fa-2x"></span><span
                                    class="wb-inv">{{::'DOSSIER_TYPE_HELP'|translate}}</span>
                            </span>
                            <cmp-error-message field-name="dos.typeId"
                                               form-ref="dos.dossierForm"
                                               show-error="dos.showError(dos.dossierForm[dos.typeId])"
                                               error-types="dos.requiredOnly"></cmp-error-message>
                            <select class="form-control full-width" id="{{::dos.typeId}}"
                                    name="{{::dos.typeId}}" required data-ng-model="dos.dossierModel.dossierType"
                                    data-ng-options="val |translate for val in  dos.formTypeList">
                                <option value="" label=" " />
                            </select>

                        </label>
                    </div>
                    <div class="col-xs-4 form-group"
                         data-ng-class="{'has-error':dos.dossierForm[dos.compId].$invalid}">
                        <label for="{{::dos.compId}}" class="required">
                            <span class="field-name">{{::'COMPANY_ID' |translate}}{{::'LEAST_5_CHAR' |translate}}</span>
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <cmp-error-message field-name="dos.compId"
                                               form-ref="dos.dossierForm"
                                               show-error="dos.showError(dos.dossierForm[dos.compId])"
                                               error-types="dos.min5Error"></cmp-error-message>
                            <input type="text" class="form-control full-width" id="{{::dos.compId}}"
                                   name="{{::dos.compId}}" required maxlength="6" minlength="5"
                                   data-ng-model="dos.dossierModel.companyID"/>

                        </label>
                    </div>
                    </div>
                    <div class="row">
                    <div>
                        <cmp-alert  ui-state="dos.alerts[10]"
                                    msg="DOSSIER_TYPE_HELP"
                                    update-state="dos.closeAlert(10)"
                                    type="alert-info">

                        <section aria-live="assertive">
                            <div data-ng-if="!dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-type-en.html'">
                            </div>
                            <div data-ng-if="dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-type-fr.html'">
                            </div>
                        </section>
                        </cmp-alert>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group"
                         data-ng-class="{'has-error':dos.dossierForm[dos.prodNameId].$invalid}">
                            <label for="{{::dos.prodNameId}}" class="required">
                                <span class="field-name">{{::'PROD_NAME' |translate}}</span>
                                <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            </label>
                        <button title="{{::'EXPAND'|translate}} {{::'PROD_NAME_HELP'|translate}}"
                                class="btn rep-help-button-primary btn-xs"
                                id="name-instructions-toggle" data-ng-click="dos.addInstruct(7)"><span
                                class="fa fa-question-circle fa-2x"></span><span
                                class="wb-inv">{{::'PROD_NAME_HELP'|translate}}</span></button>
                        <cmp-error-message field-name="dos.prodNameId"
                                           form-ref="dos.dossierForm"
                                           show-error="dos.showError(dos.dossierForm[dos.prodNameId])"
                                           error-types="dos.requiredOnly"></cmp-error-message>
                        <textarea class="form-control full-width" id="{{::dos.prodNameId}}" rows="2"
                                  name="{{::dos.prodNameId}}" required
                                  data-ng-change="dos.dossierModel.productName=dos.dossierModel.productName.toUpperCase()"
                                  maxlength="200" data-ng-model="dos.dossierModel.productName"></textarea>

                    </div>
                </div>
                <div class="row">
                    <div>
                        <cmp-alert  ui-state="dos.alerts[7]"
                                    msg="PROD_NAME_HELP"
                                    update-state="dos.closeAlert(7)"
                                    type="alert-info">

                        <section aria-live="assertive">
                            <div data-ng-if="!dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-productName-en.html'">
                            </div>
                            <div data-ng-if="dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-productName-fr.html'">
                            </div>
                        </section>
                        </cmp-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group"
                         data-ng-class="{'has-error':dos.dossierForm[dos.properNameId].$invalid}">
                        <label for="{{::dos.properNameId}}" class="required">
                            <span class="field-name">{{::'PROPER_NAME' |translate}}</span>
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        </label>
                        <button title="{{::'EXPAND'|translate}} {{::'PROP_NAME_HELP'|translate}}"
                                class="btn rep-help-button-primary btn-xs"
                                id="pname-instructions-toggle" data-ng-click="dos.addInstruct(8)">
                            <span class="fa fa-question-circle fa-2x"></span>
                            <span class="wb-inv">{{::'PROP_NAME_HELP'|translate}}</span>
                        </button>
                        <cmp-error-message field-name="dos.properNameId"
                                           form-ref="dos.dossierForm"
                                           show-error="dos.showError(dos.dossierForm[dos.properNameId])"
                                           error-types="dos.requiredOnly"></cmp-error-message>
                        <textarea class="form-control full-width" id="{{::dos.properNameId}}" name="{{::dos.properNameId}}"
                                  required data-ng-model="dos.dossierModel.properName" maxlength="256" rows="3"
                                  data-ng-change="dos.dossierModel.properName=dos.dossierModel.properName.toUpperCase()">
                            </textarea>

                    </div>
                </div>
                <div class="row">
                    <div>
                        <cmp-alert  ui-state="dos.alerts[8]"
                                    msg="PROP_NAME_HELP"
                                    update-state="dos.closeAlert(8)"
                                    type="alert-info">

                        <section aria-live="assertive">
                            <div data-ng-if="!dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-properName-en.html'">
                            </div>
                            <div data-ng-if="dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-properName-fr.html'">
                            </div>
                        </section>
                        </cmp-alert>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group" data-ng-class="{'has-error':dos.dossierForm[dos.drugUseId].$invalid}">
                        <label for="{{::dos.drugUseId}}" class="required">
                            <span class="field-name">{{::'DRUG_USE'|translate}}</span>
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <cmp-error-message field-name="dos.drugUseId"
                                               form-ref="dos.dossierForm"
                                               show-error="dos.showError(dos.dossierForm[dos.drugUseId])"
                                               error-types="dos.requiredOnly"></cmp-error-message>
                            <select name="{{::dos.drugUseId}}" class="form-control"
                                    data-ng-model="dos.dossierModel.drugProduct.drugUse" id="{{::dos.drugUseId}}"
                                    data-ng-options="use[dos.lang] for use in  dos.drugUseList track by use.id"
                                    required><option label=" " value="" /></select>

                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group" data-ng-class="{'has-error':dos.dossierForm[dos.relatedInfoId].$invalid}">
                        <label for="{{::dos.relatedInfoId}}" class="required">
                            <span class="field-name">{{::'RELATED_INFO'|translate}}</span>
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        </label>
                        <button title="{{::'EXPAND'|translate}} {{::'RELATED_INFO_HELP'|translate}}"
                                class="btn rep-help-button-primary btn-xs"
                                id="related-instructions-toggle" data-ng-click="dos.addInstruct(9)">
                            <span class="fa fa-question-circle fa-2x"></span>
                            <span class="wb-inv">{{::'RELATED_INFO_HELP'|translate}}</span></button>
                        <cmp-error-message field-name="dos.relatedInfoId"
                                           form-ref="dos.dossierForm"
                                           show-error="dos.showError(dos.dossierForm[dos.relatedInfoId])"
                                           error-types="dos.requiredOnly"></cmp-error-message>
                        <textarea class="form-control full-width" id="{{::dos.relatedInfoId}}" name="{{::dos.relatedInfoId}}"
                                  data-ng-model="dos.dossierModel.relatedInfo" maxlength="256" rows="3" required></textarea>

                    </div>
                </div>
                <div class="row">
                    <div>
                        <cmp-alert  ui-state="dos.alerts[9]"
                                    msg="RELATED_INFO_HELP"
                                    update-state="dos.closeAlert(9)"
                                    type="alert-info">

                        <section aria-live="assertive">
                            <div data-ng-if="!dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-relatedInformation-en.html'">
                            </div>
                            <div data-ng-if="dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-properName-fr.html'">
                            </div>
                        </section>
                        </cmp-alert>
                    </div>
                </div>
                <div>
                    <section class="panel panel-default">
                        <header class="panel-heading clearfix">
                            <h3 class="panel-title col-md-8">{{::'THERA_CLASS'|translate}}</h3>
                            <div class="btn-group pull-right">
                                <button title="{{::'EXPAND'|translate}} {{::'HELP_thera'|translate}}"
                                        class="btn-xs rep-help-button-primary"
                                        id="thera-instructions-toggle" data-ng-click="dos.addInstruct(2)">
                                        <span class="fa fa-question-circle fa-2x"></span>
                                        <span class="wb-inv">{{::'HELP_thera'|translate}}</span>
                                </button>
                            </div>
                        </header>
                        <div class="panel-body">
                            <div>
                                <cmp-alert  ui-state="dos.alerts[2]"
                                            msg="HELP_thera"
                                            update-state="dos.closeAlert(2)"
                                            type="alert-info">

                                <section aria-live="assertive">
                                    <div data-ng-if="!dos.isFrench()"
                                         ng-include="'app/scripts/templates/dossier/tpl-dossier-thera-en.html'">
                                    </div>
                                    <div data-ng-if="dos.isFrench()"
                                         ng-include="'app/scripts/templates/dossier/tpl-dossier-thera-fr.html'">
                                    </div>
                                </section>
                                </cmp-alert>

                            </div>
                            <cmp-thera-list records="dos.dossierModel.drugProduct.therapeutic"
                                            show-errors="dos.showErrors()"></cmp-thera-list>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="form-group col-md-12" data-ng-class="{'has-error':dos.dossierForm[dos.isRefId].$invalid}">
                        <label for="{{::dos.isRefId}}" class="required full-width">
                            <span class="field-name">{{::'IS_CDN_REF'|translate}}</span>
                            <strong class="required">{{::"REQUIRED" |translate}}</strong>
                            <span title="{{::'EXPAND'|translate}} {{::'HELP_REFPRODUCTS'|translate}}"
                                    class="btn rep-help-button-primary btn-xs"
                                    id="repProducts-instructions-toggle" data-ng-click="dos.addInstruct(3)">
                                    <span class="fa fa-question-circle fa-2x"></span>
                                    <span class="wb-inv">{{::'HELP_REFPRODUCTS'|translate}}</span>
                            </span>
                            <cmp-error-message field-name="dos.isRefId"
                                               form-ref="dos.dossierForm"
                                               show-error="dos.showError(dos.dossierForm[dos.isRefId])"
                                               error-types="dos.requiredOnly">
                            </cmp-error-message>
                            <select name="{{::dos.isRefId}}" id="{{::dos.isRefId}}"
                                    data-ng-model="dos.dossierModel.isRefProduct"
                                    class="form-control"
                                    data-ng-options="choice |translate for choice in dos.yesNoList"
                                    required>
                                <option label=" " value="" />
                            </select>

                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <cmp-alert  ui-state="dos.alerts[3]"
                                        msg="HELP_REFPRODUCTS"
                                        update-state="dos.closeAlert(3)"
                                        type="alert-info">
                            <section aria-live="assertive">
                                <div data-ng-if="!dos.isFrench()"
                                     ng-include="'app/scripts/templates/dossier/tpl-dossier-ref-product-en.html'">
                                </div>
                                <div data-ng-if="dos.isFrench()"
                                     ng-include="'app/scripts/templates/dossier/tpl-dossier-ref-product-fr.html'">
                                </div>
                            </section>
                            </cmp-alert>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-if="dos.isRefProduct()" id="refProductRoot">
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <h3 class="panel-title">{{::'CAN_REF_PRODUCT'|translate}}</h3>
                        </header>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4 form-group" data-ng-class="{'has-error':dos.dossierForm[dos.brandId].$invalid}">
                                    <label for="{{::dos.brandId}}" class="required"><span
                                            class="field-name">{{::'BRAND_NAME'|translate}}</span>
                                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                                        <cmp-error-message field-name="dos.brandId" form-ref="dos.dossierForm"
                                                           show-error="dos.showError(dos.dossierForm[dos.brandId])"
                                                           error-types="dos.requiredOnly">
                                        </cmp-error-message>
                                        <input type="text" id="{{::dos.brandId}}" data-ng-model="dos.dossierModel.drugProduct.canRefProduct.brandName"
                                               class="form-control full-width" name="{{::dos.brandId}}" required maxlength="60"
                                               size="60"/>
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 form-group"
                                     data-ng-class="{'has-error':dos.dossierForm[dos.companyId].$invalid}">
                                <label for="{{::dos.companyId}}" class="required"><span
                                        class="field-name">{{::'COMPANY_NOABBREV'|translate}}</span>
                                    <strong class="required">{{::"REQUIRED" |translate}}</strong></label>
                                    <cmp-error-message field-name="dos.companyId" form-ref="dos.dossierForm"
                                                       show-error="dos.showError(dos.dossierForm[dos.companyId])"
                                                       error-types="dos.requiredOnly">
                                    </cmp-error-message>
                                    <input type="text" id="{{::dos.companyId}}" data-ng-model="dos.dossierModel.drugProduct.canRefProduct.companyName"
                                       class="form-control" name="{{::dos.companyId}}" required maxlength="80"
                                       size="80"/>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <div>
            <section class="panel panel-primary mrgn-tp-lg">
                <header class="panel-heading clearfix">
                    <h2 class="panel-title col-md-8">{{::'REP_CONTACT_INFO'|translate}}</h2>
                    <div class="btn-group pull-right">
                        <button title="{{::'EXPAND'|translate}} {{::'HELP_REP_CONTACT'|translate}}"
                                class="btn-xs rep-help-button"
                                id="repContact-instructions-toggle" data-ng-click="dos.addInstruct(5)">
                            <span class="fa fa-question-circle fa-2x"></span>
                            <span class="wb-inv">{{::'HELP_REP_CONTACT'|translate}}</span>
                        </button>
                    </div>
                </header>
                <div class="panel-body">
                    <div>
                        <cmp-alert  ui-state="dos.alerts[5]"
                                    msg="HELP_REP_CONTACT"
                                    update-state="dos.closeAlert(5)"
                                    type="alert-info">

                        <section aria-live="assertive">
                            <div data-ng-if="!dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-contact-en.html'">
                            </div>
                            <div data-ng-if="dos.isFrench()"
                                 ng-include="'app/scripts/templates/dossier/tpl-dossier-contact-fr.html'">
                            </div>
                        </section>
                        </cmp-alert>
                    </div>

                    <div class="container-fluid">
                        <cmp-rep-contact-list contacts="dos.dossierModel.contactList" on-update=""
                                              parent-dirty="dos.dossierForm.$dirty"
                                              show-error-summary="dos.showSummary"
                                              show-list-errors="dos.showErrors()" is-amend="dos.formAmend"></cmp-rep-contact-list>
                    </div>
                </div>
            </section>
        </div>
        <div class="row form-group  col-md-12">
            <div class="checkbox col-md-10">
                <label for="{{::dos.privacyStatementID |translate}}">
                    <input type="checkbox"
                           data-ng-model="dos.dossierModel.privacyStat"
                           class="required"
                           name="{{::dos.privacyStatementID |translate}}"
                           id="{{::dos.privacyStatementID |translate}}"
                           required />
                    {{::"PRIVACY_STATEMENT"|translate}}
                    <strong class="required"> {{::"REQUIRED" |translate}}</strong>
                    <cmp-error-message field-name="dos.privacyStatementID"
                                       form-ref="dos.dossierForm"
                                       show-error="dos.showError(dos.dossierForm[dos.privacyStatementID])"
                                       error-types="dos.requiredOnly">
                    </cmp-error-message>

                </label>
            </div>
            <div class="btn-group pull-right">
                <button title="{{::'EXPAND'|translate}} {{::'PRIVACY_STATEMENT_HELP'|translate}}"
                        class="btn rep-help-button-primary btn-xs"
                        id="statement-instructions-toggle"
                        data-ng-click="dos.addInstruct(11)">
                    <span class="fa fa-question-circle fa-2x"></span>
                    <span class="wb-inv">{{::'PRIVACY_STATEMENT_HELP'|translate}}</span>
                </button>
            </div>
        </div>
        <div class="row col-md-12">
            <cmp-alert  ui-state="dos.alerts[11]"
                        msg="PRIVACY_STATEMENT_HELP"
                        update-state="dos.closeAlert(11)"
                        type="alert-info">

                <section aria-live="assertive">
                    <div data-ng-if="!dos.isFrench()"
                         ng-include="'app/scripts/templates/common/tpl-privacy-statement-en.html'">
                    </div>
                    <div data-ng-if="dos.isFrench()"
                         ng-include="'app/scripts/templates/common/tpl-privacy-statement-fr.html'">
                    </div>
                </section>
            </cmp-alert>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button class="btn btn-default btn-lg active mrgn-rght-sm" data-ng-click="dos.saveJson()"
                        data-ng-disabled="dos.disableJSONSave()">
                    {{::'SAVE_WORKING'|translate}}
                </button>
                <button class="btn btn-primary btn-lg active mrgn-rght-sm" id="btn_xmlSave" data-ng-disabled="dos.disableXML"
                        data-ng-click="dos.saveXML()">{{dos.saveXMLLabel |translate}}
                </button>
                <button title="{{::'EXPAND'|translate}} {{::'SAVE_INSTRUCT'|translate}}"
                        class="btn rep-help-button-primary btn-xs"
                        id="save-instructions-toggle" data-ng-click="dos.addInstruct(6)">
                    <span class="fa fa-question-circle fa-2x"></span>
                    <span class="wb-inv">{{::'SAVE_INSTRUCT'|translate}}</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div>
                    <cmp-alert  ui-state="dos.alerts[6]"
                                msg="SAVE_INSTRUCT"
                                update-state="dos.closeAlert(6)"
                                type="alert-info">

                    <section aria-live="assertive">
                        <div data-ng-if="!dos.isFrench()"
                             ng-include="'app/scripts/templates/dossier/tpl-dossier-save-en.html'">
                        </div>
                        <div data-ng-if="dos.isFrench()"
                             ng-include="'app/scripts/templates/dossier/tpl-dossier-save-en.html'">
                        </div>
                    </section>
                    </cmp-alert>
                </div>
            </div>
        </div>
 <!--      <pre>{{dos.dossierModel | json }}</pre>-->
    </div>
        </div>
</ng-form>