<div class="container-fluid">
    <ng-form name="lifecycleCtrl.lifecycleDetailsForm">
        <div>
            <div>
                <fieldset>
                    <legend>Lifecycle Transaction</legend>
                    <div class="row">
                        <div class="form-group col-md-4" ng-class="{'has-error':lifecycleCtrl.showError()}">
                            <label for="sequenceNumber_{{$id}}">
                                <span class="field-name">{{"Sequence Number" |translate}}</span>
                                <input type="text" id="sequenceNumber_{{$id}}" name="sequenceNumber"
                                       ng-model="lifecycleCtrl.lifecycleModel.sequence"
                                       class="form-control full-width" maxlength="8" size="8" ng-readonly="true"/>
                            </label>
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error':lifecycleCtrl.showError()}">
                            <label for="dateFiled_{{$id}}">
                                <span class="field-name">{{"Date Filed" |translate}}</span>
                                <input type="date" id="dateFiled_{{$id}}" name="dateFiled"
                                       ng-model="lifecycleCtrl.lifecycleModel.dateFiled"
                                       class="form-control "/>
                            </label>
                        </div>
                        <div class="form-group col-md-4" ng-class="{'has-error':lifecycleCtrl.showError()}">
                            <label for="controlNum_{{$id}}">
                                <span class="field-name">{{"Control Number" |translate}}</span>
                                <input type="text" id="controlNum_{{$id}}" name="controlNum"
                                       ng-model="lifecycleCtrl.lifecycleModel.controlNumber"
                                       class="form-control full-width" maxlength="6" size="6"/>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group  col-md-4" ng-class="{'has-error':lifecycleCtrl.showError()}">
                            <label for="controlNum_{{$id}}">
                                <span class="field-name">{{"REG_ACTIVITY" |translate}}</span>
                                <select id="regActivity_{{$id}}" name="regActivity"
                                        ng-model="lifecycleCtrl.lifecycleModel.activityType"
                                        data-ng-change="lifecycleCtrl.setSequenceList()"
                                        class="form-control full-width"
                                        ng-options="activity |translate for activity in  lifecycleCtrl.activityList | orderByTranslated">
                                </select>
                            </label>
                        </div>
                        <div class="form-group col-md-6 " ng-class="{'has-error':lifecycleCtrl.showError()}">
                            <label for="seqDescription_{{$id}}">
                                <span class="field-name">{{"SEQUENCE_TYPE" |translate}}</span>
                                <select id="seqDescription_{{$id}}" name="seqDescription"
                                        ng-model="lifecycleCtrl.lifecycleModel.descriptionValue"
                                        ng-options="descript |translate for descript in  lifecycleCtrl.descriptionList| orderByTranslated"
                                        data-ng-change="lifecycleCtrl.setDetailsState()"
                                        class="form-control full-width"></select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4" ng-class="{'has-error':lifecycleCtrl.showError()}"
                             ng-show="lifecycleCtrl.startDateVisible">
                            <label for="dateStart_{{$id}}">
                                <span class="field-name">{{lifecycleCtrl.startDateLabel |translate}}</span>
                                <span class="date-picker-format">(YYYY-MM-DD)</span>
                                <input type="date" id="dateStart_{{$id}}" name="dateStart"
                                       ng-model="lifecycleCtrl.lifecycleModel.startDate"
                                       data-ng-change="lifecycleCtrl.setConcatDetails()"
                                       class="form-control" min="2013-03-03">
                                </input>
                            </label>
                        </div>
                        <div class="form-group col-md-4" ng-show="lifecycleCtrl.endDateVisible"
                             ng-class="{'has-error':lifecycleCtrl.showError()}">
                            <label for="dateEnd_{{$id}}">
                                <span class="field-name">{{"END_DATE" |translate}}</span>
                                <input type="date" id="dateend_{{$id}}" name="dateEnd"
                                       ng-model="lifecycleCtrl.lifecycleModel.endDate"
                                       ng-change="lifecycleCtrl.setConcatDetails()"
                                       class="form-control">
                                </input>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12" ng-class="{'has-error':lifecycleCtrl.showError()}"
                             ng-show="lifecycleCtrl.descriptionVisible">
                            <label for="details_{{$id}}">
                                <span class="field-name">{{"BRIEF_DESC" |translate}}</span>
                                <input type="text" id="details_{{$id}}" name="details"
                                       ng-model="lifecycleCtrl.lifecycleModel.details"
                                       ng-change="lifecycleCtrl.setConcatDetails()"
                                       class="form-control">
                                </input>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4" ng-class="{'has-error':lifecycleCtrl.showError()}"
                             ng-show="lifecycleCtrl.versionVisible">
                            <label for="version_{{$id}}">
                                <span class="field-name">{{"VERSION_NO" |translate}}</span>
                                <input type="text" id="version_{{$id}}" name="version"
                                       ng-model="lifecycleCtrl.lifecycleModel.sequenceVersion"
                                       ng-change="lifecycleCtrl.setConcatDetails()"
                                       class="form-control">
                                </input>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="btn-group-sm col-xs-12 text-right">
                            <input type="submit" value="{{'Save Transaction '| translate}}" class="btn btn-primary"
                                   name="saveContact"
                                   id="saveContact"
                                   ng-click="lifecycleCtrl.updateLivecycleModel()"
                                   ng-disabled="lifecycleCtrl.setNotEditable()">
                            <input type="submit" value="Delete Record" class="btn btn-danger"
                                   ng-click="lifecycleCtrl.delete()">
                            <input type="submit" value="Discard Changes" class="btn btn-default"
                                   ng-click="lifecycleCtrl.discardChanges()">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </ng-form>
    <pre>lifecycle record model: {{lifecycleCtrl.lifecycleModel | json : spacing}}</pre>
</div>