<div>
    <ul>
        <li>A minimum of one address is required for the company template.</li>
        <li>There must be an address associated with each of the following three
            roles:
            “Manufacturer / Sponsor Mailing Address”, “Billing Address”, and
            “Regulatory Mailing / Annual Contact Address”.
        </li>
        <li>
            A single address may be associated to multiple roles, however, each
            role may only have one address.
        </li>
        <!--<li> Sponsors may choose to provide an Alternate REP contact, however this is not a requirement.</li>-->
    </ul>
</div>