<div>
    <div class="row">
        <div class="col-xs-2">
            <label for="application-type_{{$id}}">{{"APPL_STATUS"| translate}}</label>
        </div>
        <div class="col-xs-2">
        </div>
        <div class="col-xs-2">
            <label for="enr-version-texte_{{$id}}">{{"ENROL_VERSION"| translate}}</label>
        </div>
        <div class="col-xs-2">
            <label for="date-saved-texte_{{$id}}">{{"DATE_SAVED"| translate}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 form-group">
            <select id="application-type_{{$id}}"
                    ng-options="type |translate for type in infoCtrl.applTypes"
                    ng-model="infoCtrl.record.applicationType"
                    ng-disabled="true" ;
                    class="form-control full-width"></select>
        </div>
        <div class="col-xs-2 form-group">
            <div>
                <button class="btn btn-default form-control" name="amendSub" id="amendSub"
                        ng-click="infoCtrl.setAmendState()"
                        ng-disabled="infoCtrl.setAsIncomplete">
                    Amend Enrolment
                </button>
            </div>
        </div>
        <div class="col-xs-2 form-group">
            <input type="text" class="form-control full-width" id="enr-version-texte_{{$id}}" ng-readonly="true"
                   ng-model="infoCtrl.infoModel.enrolmentVersion"/>
        </div>
        <div class="col-xs-2 form-group">
            <input type="text" class="form-control full-width" id="date-saved-texte_{{$id}}"
                   ng-model="infoCtrl.infoModel.dateSaved"
                   ng-readonly="true"/>
        </div>
    </div>
</div>