<ng-form name="vetRecCtrl.veterinaryForm" id="{{::vetRecCtrl.veterinaryFormId}}">
    <div class="container-fluid">
        <cmp-error-summary form-ref="vetRecCtrl.veterinaryForm"
                           form-preamble="{{'SPECIES_SUBTYPE_DETAILS'|translate}}&nbsp;{{vetRecCtrl.recordIndex+1}}"
                           exclusion-list=vetRecCtrl.exclusions
                           name-suffix="vetRecCtrl.veterinaryForm" set-heading-level="h3" form-id="vetRecCtrl.veterinaryFormId"
                           make-focused="vetRecCtrl.focusSummary" alias-list="vetRecCtrl.alias" show-errors="vetRecCtrl.showSummary"
                           update-errors="vetRecCtrl.updateSummary">
        </cmp-error-summary>

        <fieldset>
            <legend class="legend-rep"><span>{{'SPECIES_SUBTYPE_DETAILS'|translate}}&nbsp;{{vetRecCtrl.recordIndex+1}}</span></legend>
            <div class="row">
                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':vetRecCtrl.veterinaryForm[vetRecCtrl.speciesSubtypeUseId].$invalid}">
                    <label for="{{::vetRecCtrl.speciesSubtypeUseId}}" class="required">
                        <span class="field-name">{{'SPECIES_SUBTYPES_USE'|translate}}</span>
                        <strong class="required">{{'REQUIRED' |translate}}</strong>
                        <cmp-error-message field-name="vetRecCtrl.speciesSubtypeUseId"
                                           form-ref="vetRecCtrl.veterinaryForm"
                                           show-error="vetRecCtrl.showError(vetRecCtrl.veterinaryForm[vetRecCtrl.speciesSubtypeUseId])"
                                           error-types="vetRecCtrl.requiredOnly">
                        </cmp-error-message>
                        <select name="{{::vetRecCtrl.speciesSubtypeUseId}}" id="{{::vetRecCtrl.speciesSubtypeUseId}}"
                                data-ng-model="vetRecCtrl.vetModel.speciesSubtypeUse"
                                class="form-control"
                                data-ng-options="choice[vetRecCtrl.lang] for choice in vetRecCtrl.speciesSubspeciesList track by choice.id"
                                required>
                            <option label=" " value="" />
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12"
                     data-ng-class="{'has-error':vetRecCtrl.veterinaryForm[vetRecCtrl.foodProducingAnimalUseId].$invalid}">
                    <label for="{{::vetRecCtrl.foodProducingAnimalUseId}}" class="required">
                        <span class="field-name">{{'FOOD_PRODUCING_ANIMAL_USE'|translate}}</span>
                        <strong class="required">{{'REQUIRED' |translate}}</strong>
                        <cmp-error-message field-name="vetRecCtrl.foodProducingAnimalUseId"
                                           form-ref="vetRecCtrl.veterinaryForm"
                                           show-error="vetRecCtrl.showError(vetRecCtrl.veterinaryForm[vetRecCtrl.foodProducingAnimalUseId])"
                                           error-types="vetRecCtrl.requiredOnly">
                        </cmp-error-message>
                        <select name="{{::vetRecCtrl.foodProducingAnimalUseId}}"
                                id="{{::vetRecCtrl.foodProducingAnimalUseId}}"
                                data-ng-model="vetRecCtrl.vetModel.foodProducingAnimalUse"
                                class="form-control"
                                data-ng-options="choice |translate for choice in vetRecCtrl.yesNoList"
                                required>
                            <option label=" " value="" />
                        </select>
                    </label>
                </div>
            </div>
            <div class="row" data-ng-if="vetRecCtrl.isFoodroducingAnimal()">
                <div class="form-group col-md-4"
                     data-ng-class="{'has-error':vetRecCtrl.veterinaryForm[vetRecCtrl.withdrawalTimeId].$invalid}">
                    <label for="{{::vetRecCtrl.withdrawalTimeId}}">
                        <span class="field-name">{{'WITHDRAWAL_TIME'|translate}}</span>
                        <cmp-error-message field-name="vetRecCtrl.withdrawalTimeId"
                                           form-ref="vetRecCtrl.veterinaryForm"
                                           show-error="vetRecCtrl.showError(vetRecCtrl.veterinaryForm[vetRecCtrl.withdrawalTimeId])"
                                           error-types="vetRecCtrl.dateFormatError">
                        </cmp-error-message>
                    </label>
                    <input id="{{::vetRecCtrl.withdrawalTimeId}}" type="date" name="{{::vetRecCtrl.withdrawalTimeId}}"
                           data-ng-model="vetRecCtrl.vetModel.withdrawalTime"
                           class="form-control"/>
                </div>
                <div class="form-group col-md-4"
                     data-ng-class="{'has-error':vetRecCtrl.veterinaryForm[vetRecCtrl.daysId].$invalid}">
                    <label for="{{::vetRecCtrl.daysId}}" class="required">
                        <span class="field-name">{{'DAYS'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <cmp-error-message field-name="vetRecCtrl.daysId"
                                           form-ref="vetRecCtrl.veterinaryForm"
                                           show-error="vetRecCtrl.showError(vetRecCtrl.veterinaryForm[vetRecCtrl.daysId])"
                                           error-types="vetRecCtrl.requiredOnly">
                        </cmp-error-message>
                    </label>
                    <input id="{{::vetRecCtrl.daysId}}" type="text" name="{{::vetRecCtrl.daysId}}"
                           data-ng-model="vetRecCtrl.vetModel.days"
                           class="form-control" required />
                </div>
                <div class="form-group col-md-4"
                     data-ng-class="{'has-error':vetRecCtrl.veterinaryForm[vetRecCtrl.hoursId].$invalid}">
                    <label for="{{::vetRecCtrl.hoursId}}" class="required">
                        <span class="field-name">{{'HOURS'|translate}}</span>
                        <strong class="required">{{::"REQUIRED" |translate}}</strong>
                        <cmp-error-message field-name="vetRecCtrl.hoursId"
                                           form-ref="vetRecCtrl.veterinaryForm"
                                           show-error="vetRecCtrl.showError(vetRecCtrl.veterinaryForm[vetRecCtrl.hoursId])"
                                           error-types="vetRecCtrl.requiredOnly">
                        </cmp-error-message>
                    </label>
                    <input id="{{::vetRecCtrl.hoursId}}" type="text" name="{{::vetRecCtrl.hoursId}}"
                           data-ng-model="vetRecCtrl.vetModel.hours"
                           class="form-control" required/>
                </div>
            </div>
        </fieldset>

        <div class="row">
            <div class="btn-group-sm col-xs-12">
                <button  class="btn btn-primary"
                         name="saveVeterinaryRec_{{::$id}}"
                         id ="saveVeterinaryRec_{{::$id}}"
                         data-ng-click="vetRecCtrl.updateVeterinaryModel()">{{'SAVE_RECORD'|translate}}
                </button>
                <button data-ng-if="vetRecCtrl.deleteBtn === true" class="btn btn-danger" name="deleteVeterinary"
                        data-ng-click="vetRecCtrl.delete()">{{'DELETE_RECORD'|translate}}
                </button>
                <button  class="btn btn-default" name="discardVeterinary"
                         data-ng-click="vetRecCtrl.discardChanges()">{{'DISCARD_CHANGES'|translate}}
                </button>
            </div>
        </div>
    </div>
</ng-form>