<div class="container-fluid">
    <ng-form name="cspMainApplCtrl.mainApplForm">
        <div class="row">
            <div>
                <h3>3.&nbsp{{'NDS_TITLE'|translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4"
                 ng-class="{'has-error':cspMainApplCtrl.mainApplForm[cspMainApplCtrl.controlNumberId].$invalid}">
                <label for="{{::cspMainApplCtrl.controlNumberId}}" class="required">
                    <span class="field-name">{{'NDS_NUMBER' |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <input type="text" id="{{::cspMainApplCtrl.controlNumberId}}"
                           ng-model-options="cspMainApplCtrl.ngModelOptSetting"
                           name="{{::cspMainApplCtrl.controlNumberId}}"
                           data-ng-model="cspMainApplCtrl.model.controlNumber" class="form-control" minlength="6"
                           maxlength="6" size="6" required/>
                    <cmp-error-message field-name="cspMainApplCtrl.controlNumberId"
                                       form-ref="cspMainApplCtrl.mainApplForm" show-error="cspMainApplCtrl.showErrors()"
                                       error-types="cspMainApplCtrl.numberError"></cmp-error-message>
                </label>
                </label>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>4.&nbsp{{'DRUGUSE_TITLE'|translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4"
                 ng-class="{'has-error':cspMainApplCtrl.mainApplForm[cspMainApplCtrl.drugUseId].$invalid}">
                <label for="{{::cspMainApplCtrl.drugUseId}}" class="required">
                    <span class="field-name">{{'DRUGUSE' |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <select id="{{::cspMainApplCtrl.drugUseId}}" name="{{::cspMainApplCtrl.drugUseId}}"
                            data-ng-model="cspMainApplCtrl.model.drugUse" class="form-control"
                            ng-options="drugUse |translate for drugUse in cspMainApplCtrl.drugUseList"
                            required></select>
                    <cmp-error-message field-name="cspMainApplCtrl.drugUseId"
                                       form-ref="cspMainApplCtrl.mainApplForm" show-error="cspMainApplCtrl.showErrors()"
                                       error-types="cspMainApplCtrl.requiredOnlyError"></cmp-error-message>
                </label>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>5.&nbsp{{'TIMEAPP_TITLE'|translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend class="required"><span class="field-name">{{'APPLICANT_APPLY' |translate}}</span> <strong
                            class="required"> {{"REQUIRED" |translate}} </strong>
                        <cmp-error-message field-name="cspMainApplCtrl.applApplyId"
                                           form-ref="cspMainApplCtrl.mainApplForm"
                                           show-error="true"
                                           error-types="cspMainApplCtrl.requiredOnlyError"></cmp-error-message>
                    </legend>
                    <div class="radio">
                        <label for="{{::cspMainApplCtrl.applApplyId}}">
                            <input type="radio" name="{{::cspMainApplCtrl.applApplyId}}"
                                   id="{{::cspMainApplCtrl.applApplyId}}"
                                   ng-model="cspMainApplCtrl.model.timeApplication"
                                   ng-value="cspMainApplCtrl.nocValue" required/>{{'NOC_120'|translate}}
                        </label>
                    </div>
                    <div class="radio">
                        <label for="within120"><input type="radio" name="{{::cspMainApplCtrl.applApplyId}}"
                                                      ng-model="cspMainApplCtrl.model.timeApplication"
                                                      ng-value="cspMainApplCtrl.grantValue" id="within120"/>{{'GRANT_120'|translate}}</label>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div>
                <h3>6.&nbsp;Medicinal Ingredient</h3>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12"
                 ng-class="{'has-error':cspMainApplCtrl.mainApplForm.medicinalIngredient_{{::$id}}.$invalid}">
                <label for="medicinalIngredient_{{::$id}}" class="required">
                    <span class="field-name">{{'MED_INGRED' |translate}}</span>
                    <strong class="required"> {{"REQUIRED" |translate}} </strong>
                    <strong id="medicinalIngredient-error" class="error"
                            ng-show="cspMainApplCtrl.showError(cspMainApplCtrl.mainApplForm.medicinalIngredient_{{::$id}})">
                             <span class="label label-danger"
                                   ng-messages="cspMainApplCtrl.mainApplForm.medicinalIngredient_{{::$id}}.$error">
                                 <span ng-message="required">{{'MSG_ERR_MAND'|translate}}</span>
                             </span>
                    </strong>
                </label>
                <textarea id="medicinalIngredient_{{::$id}}" name="medicinalIngredient_{{::$id}}"
                          data-ng-model="cspMainApplCtrl.model.medicinalIngredient"
                          class="form-control full-width" maxlength="300" rows="4"
                          size="7" required></textarea>
            </div>
        </div>
        <div class="row">
            <div>
                <h3>7.&nbsp;Statement</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <fieldset>
                    <legend class="required"><span class="field-name">{{'STATEMENTS_APPLICANT' |translate}}</span>
                        <strong class="required"> {{"REQUIRED" |translate}} </strong>
                        <cmp-error-message field-name="timelySubCtrl.timelyId" form-ref="timelySubCtrl.timelySubForm"
                                           show-error="timelySubCtrl.showErrors()"
                                           error-types="timelySubCtrl.requiredOnly"></cmp-error-message>
                    </legend>
                    <div class="radio">
                        <label for="applicant-owner">
                            <input type="radio" name="applicantStatement" id="applicant-owner"
                                   ng-model="cspMainApplCtrl.model.applicantStatement"
                                   ng-value="cspMainApplCtrl.ownerValue" required="required"/>
                            {{'APPLICANT_OWNER'|translate}}
                        </label>
                    </div>
                    <div class="radio">
                        <label for="applicant-consent">
                            <input type="radio" name="applicantStatement"
                                   ng-model="cspMainApplCtrl.model.applicantStatement"
                                   ng-value="cspMainApplCtrl.ownerBehalfValue"
                                   id="applicant-consent"/>
                            {{'APPLICANT_BEHALF'|translate}}
                        </label>
                    </div>
                </fieldset>
            </div>
        </div>
    </ng-form>
</div>